# mac crud
.DS_store
# vim crud
view/
.netrwhist
tags/
# emacs crud
_emacs.d/ac-comphist.dat
_emacs.d/srecode-map.el
_emacs.d/backups/
_emacs.d/projectile.cache
_emacs.d/helm-adaptive-history
# python crud
.python-environments/
# other crud
*.pyc
*.swp
